# Ignore everything except

*

# files not to ignore
!README.md

!.gitignore

#even if in sub directories
!*/


!*/Flags/ROC.bmp
!*/Data/ROC.n00
!*/Data/ROC.n20
!*/Data/ROCShipNames.dat
!*/Data/ROCWarInfo.dat
!*/Data/ROCWarInfo20.dat

!*/Data/Japan2.n00
!*/Data/Japan2.n20
!*/Data/Japan2ShipNames.dat
!*/Data/Japan2WarInfo.dat
!*/Data/Japan2WarInfo20.dat

# Now Play as Japan and fight the ROC!
# We probably need better naming conventions for alternate matchups






#Folders not to ignore
