# Ignore everything except

/*

# files not to ignore
!/.gitignore
!/./Flags/ROC.bmp
!/./Data/ROC.n00
!/./Data/ROC.n20
!/./Data/ROCShipNames.dat
!/./Data/ROCWarInfo.dat
!/./README.md

#Folders not to ignore
